<div class="container-fluid">
  <h1>Bootcamp Enrollment Form</h1>
  <form #userForm="ngForm">

    {{ userForm.value | json}}
    <hr>
    {{ userModel | json}}
    <!-- <div ngModelGroup="address">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" name="city" ngModel>
      </div>

      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" id="street" name="street" ngModel>
      </div>
    </div> -->

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="userModel.name">
    </div>

    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="userModel.surname">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userModel.email">
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="userModel.phone">
    </div>

    <div class="form-group">
      <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
        <option value="">I want to learn</option>
        <option *ngFor="let topic of topics"> {{ topic }} </option>
      </select>
    </div>

    <div class="mb-3">
      <label>Time preferences</label>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Morning (10:00-16:00)</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Evening (17:00-23:00)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe">
      <label class="form-check-label">Send me promotional offers</label>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>

<router-outlet></router-outlet>
